.titulo-header {
    width: 500px;
}

.logo-sobre {
    width: 400px;
}

.titulo-sobre {
    margin-bottom: 20px;
}

.texto-sobre {
    font-size: 18px;
}

.nav-list-item {
    margin-right: 30px;
}


.nav-links {
    font-size: 16px;
}

.container-texto-sobre {
    width: 500px;
    margin-left: 0;
}

#historico {
    height: 1400px;
}

.container-historico {
    height: 1200px;
}

.imgs-historico {
    width: 1000px;
}

.texto-container-1 {
    top: -90%;
    left: 35%;
}

.texto-container-2 {
    left: 20%;
    top: -76%;
}

.texto-container-3 {
    top: -60%;
    left: 35%;
}

.texto-container-4 {
    top: -40%;
    left: 25%;
}

#contato {
    height: 700px;
}

.container-contato {
    width: 95%;
    height: 700px;
}

.container-img {
    width: 45%;
}

.container-img img {
    width: 300px;
}

.container-form {
    width: 55%;
    background-position: 100%;
}

#nomeUser,
#emailUser,
#assuntoUser,
#msgUser {
    width: 80%;
}

.titulo-contato,
.titulo-contato-branco {
    font-size: 18px;
}


@media (min-width: 1300px) {
    .texto-sobre {
        width: 600px;
    }
}