@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 14px;
}

body::-webkit-scrollbar-track {
    background: #c1c1c1;
}

body::-webkit-scrollbar-thumb {
    background-color: #404040;
    border-radius: 20px;
    border: 3px solid #c1c1c1;
}

body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    max-width: 100%;
    height: 200vh;
}

.select-disable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.header {
    height: 97vh;
    background-image: url("../img/background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 22px;
    background-position: 24% 100%;
}

.content-header {
    display: flex;
    justify-content: space-around;
    margin-top: 20vh;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    padding-top: 11px;
    padding-bottom: 11px;
    width: 100vw;
    z-index: 1;
}

.logo-navbar {
    max-height: 50px;
}

.estrelas {
    position: absolute;
    left: 0;
    pointer-events: none;
}

.estrelas_animation {
    animation-name: estrelas_animation;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
<<<<<<< HEAD
    pointer-events: none;
}

@keyframes estrelas_animation {
    0% {
        transform: translate(0%, 0);
    }

    50% {
        transform: translate(-1920px, 0);
    }

    100% {
        transform: translate(-3840px, 0);
    }
=======
}

@keyframes estrelas_animation {
    0% { transform: translate(0%, 0); }
    50% { transform: translate(-1920px, 0); }
    100% { transform: translate(-3840px, 0); }
>>>>>>> cc5c1b6950c06789e97f2ed2a12c81545af68185
}

.navbar-list {
    list-style: none;
    display: flex;
    margin-left: 18vw;
}

.bottom_animation::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #266ef3;
    transition: width .3s;
    border-radius: 25px;
    margin-top: 2px;
}

.bottom_animation:hover::after {
    width: 100%;
    transition: width .3s;
}

.navbar-list-item {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 50px;
}

.navbar-links {
    text-decoration: none;
    color: #FFFFFF;
}

.titulo-header,
.descricao-header {
    color: #fff;
}

.btn-header {
    background-color: #266ef3;
    color: #fff;
    border: none;
    width: 150px;
    height: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 50px;
    margin-top: 20px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px -1px #2873FF;
    box-shadow: 0px 0px 15px -1px #2873FF;
    text-transform: uppercase;
    font-weight: bold;
    transition: all .4s ease-in-out;
}

.btn-header:hover {
    background-color: #588ff7;
    -webkit-box-shadow: 0px 0px 15px -1px #508cfc;
    box-shadow: 0px 0px 15px -1px #508cfc;
}

.imgs-top {
    width: 425px;
    height: 425px;
    max-width: 425px;
    max-height: 425px;
    pointer-events: none;
}

.computador-top {
    max-width: 425px;
    position: absolute;
}

.planeta-top {
    max-width: 425px;
    position: absolute;
}

.alavancas {
    max-width: 425px;
    position: absolute;
}

.luzes {
    max-width: 425px;
    position: absolute;
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translate(0, -10px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -10px);
    }
}

.green-lever {
    animation-name: green-lever;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes green-lever {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, -20px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.red-lever {
    animation-name: red-lever;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes red-lever {
    0% {
        transform: translate(0, -10px);
    }

    50% {
        transform: translate(0, 10px);
    }

    100% {
        transform: translate(0, -10px);
    }
}

.yellow-lever {
    animation-name: yellow-lever;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes yellow-lever {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 20px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.red-light {
    animation-name: red-light;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes red-light {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
<<<<<<< HEAD

.main {
    padding-top: 130px;
}

#servicos {
    margin-left: 90px;
    margin-right: 90px;
}

.titulo-servicos {
    color: #494949;
}

.container-cards {
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 300px;
    height: 370px;
    border: 1px solid #000;
    border-radius: 14px;
    background-color: #fff;
    -webkit-box-shadow: 10px 12px 1px #161650;
    -moz-box-shadow: 10px 12px 1px #161650;
    box-shadow: 10px 12px 1px #161650;
}
=======
>>>>>>> cc5c1b6950c06789e97f2ed2a12c81545af68185
